@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;500;700&display=swap');


$primary-font: 'Source Code Pro', monospace;
$clr-light_purple: rgb(92, 48, 234);
$clr-mirage: #3B385D;
$clr-mirage-heavy:hsl(234, 55%, 11%);
$clr-mirage-light: #7872ba;
$clr-light-mirage: hsl(240, 100%, 68%);
$clr-blue: #D2D4E5;
$clr-shuttleGray: hsl(217, 14%, 42%);
$clr-white: hsl(0, 0%, 100%);
$clr-error: hsl(0, 43%, 50%);